<div class="form-container">
    <h2>Create Enrollments</h2>
    <form [formGroup]="enrollmentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="course">Course:</label>
            <select formControlName="course">
                <option value="">Select a Course</option>
                <option *ngFor="let course of courses" [ngValue]="course">
                    {{ course.courseName }}
                </option>
            </select>
        </div>

        <div *ngIf="role === 'TEACHER'" class="form-group">
            <label for="student">Student:</label>
            <select formControlName="student">
                <option value="">Select a Student</option>
                <option *ngFor="let student of students" [ngValue]="student">
                    {{ student.fullName }}
                </option>
            </select>
        </div>

        <div *ngIf="role === 'STUDENT'" class="form-group">
            <div class="form-group">
                <label for="student">Student Name:</label>
                <input type="text" id="student" formControlName="student" [readonly]="true" class="readonly-input" />
            </div>
        </div>

        <div class="form-group">
            <label for="enrollmentDate">Enrollment Date:</label>
            <input type="date" id="enrollmentDate" formControlName="enrollmentDate" />
            <div *ngIf="enrollmentForm.get('enrollmentDate')?.invalid && enrollmentForm.get('enrollmentDate')?.touched"
                class="error">
                Enrollment Date is required.
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" [disabled]="enrollmentForm.invalid">Add Enrollment</button>
        </div>
        <div class="form-footer">
            <a routerLink="/educonnect" class="link">Dashboard</a>
        </div>
    </form>


    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>