<div class="form-container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <h2>Register</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username" />
            <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched"
                class="error">
                <small *ngIf="registrationForm.get('username')?.hasError('required')">Username is required.</small>
                <small *ngIf="registrationForm.get('username')?.hasError('pattern')">Username cannot contain special
                    characters.</small>
            </div>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" />
            <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched"
                class="error">
                <small *ngIf="registrationForm.get('password')?.hasError('required')">Password is required.</small>
                <small *ngIf="registrationForm.get('password')?.hasError('minlength')">Password must be at least 8
                    characters long.</small>
                <small *ngIf="registrationForm.get('password')?.hasError('pattern')">Password must contain at least one
                    capital letter and one numeric digit.</small>
            </div>
        </div>

        <div>
            <label for="role">Role:</label>
            <select id="role" formControlName="role" (change)="onRoleChange($event)">
                <option value="">Select Role</option>
                <option value="TEACHER">Teacher</option>
                <option value="STUDENT">Student</option>
            </select>
            <div *ngIf="registrationForm.controls['role'].invalid && registrationForm.controls['role'].touched"
                class="error">
                Please select a role.
            </div>
        </div>

        <div>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" formControlName="fullName" />
            <div *ngIf="registrationForm.get('fullName')?.invalid && registrationForm.get('fullName')?.touched"
                class="error">
                <small *ngIf="registrationForm.get('fullName')?.hasError('required')">Full Name is required.</small>
            </div>
        </div>

        <div>
            <label for="contactNumber">Contact Number:</label>
            <input type="text" id="contactNumber" formControlName="contactNumber" />
            <div *ngIf="registrationForm.controls['contactNumber'].invalid && registrationForm.controls['contactNumber'].touched"
                class="error">
                Contact number must be 10 digits.
            </div>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" />
            <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="error">
                <small *ngIf="registrationForm.get('email')?.hasError('required')">Email is required.</small>
                <small *ngIf="registrationForm.get('email')?.hasError('email')">Please enter a valid email
                    address.</small>
            </div>
        </div>


        <div *ngIf="selectedRole === 'TEACHER'">
            <div>
                <label for="subject">Subject:</label>
                <input type="text" id="subject" formControlName="subject" />
            </div>
            <div>
                <label for="yearsOfExperience">Years of Experience:</label>
                <input type="number" id="yearsOfExperience" formControlName="yearsOfExperience" />
            </div>
        </div>

        <div *ngIf="selectedRole === 'STUDENT'">
            <div>
                <label for="dateOfBirth">Date of Birth:</label>
                <input type="date" id="dateOfBirth" formControlName="dateOfBirth" />
            </div>
            <div>
                <label for="address">Address:</label>
                <textarea id="address" formControlName="address"></textarea>
            </div>
        </div>

        <button type="submit">Register</button>
        <div class="form-footer">
            <a routerLink="/auth" class="link">Login</a>
        </div>

        <div *ngIf="successMessage" class="success-message">
            <p>{{ successMessage }}</p>
        </div>

        <div *ngIf="errorMessage" class="error-message">
            <p>{{ errorMessage }}</p>
        </div>
    </form>
</div>